*.safetensors filter=lfs diff=lfs merge=lfs -text
model_part1G_aa filter=lfs diff=lfs merge=lfs -text
model_part1G_ab filter=lfs diff=lfs merge=lfs -text
model_part1G_ac filter=lfs diff=lfs merge=lfs -text
model_part1G_ad filter=lfs diff=lfs merge=lfs -text
model_part1G_ae filter=lfs diff=lfs merge=lfs -text
model_part1G_* filter=lfs diff=lfs merge=lfs -text
